:root {
  --primary-color: hsl(204, 86%, 51%)
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  background-color: pink;
  display: grid;
  grid-template-columns: 15% 8fr;
}

.nav-bar {
  background-color: var(--primary-color);
  display: grid;
  align-content: start;
  gap: clamp(5px, 5vh, 50px);
  padding: 10px 20px;
  font-weight: 600;
}

.nav-bar img {
  width: 1.2rem;
}

.nav-header {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: white;
}

.nav-header img {
  width: 2.5rem;
}

.nav-main,
.nav-support {
  display: grid;
  row-gap: 2vh;
  font-size: 1.1rem;
}

.nav-main a,
.nav-support a {
  display: flex;
  align-items: center;
  gap: 1.1rem;
  color: white;
}

main {
  display: grid;
  grid-template-rows: 15% 1fr;
}

header {
  display: grid;
  padding: 1rem 2rem;
  background-color: white;
  align-items: center;
}

.upper-header {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 40% 20%;
}

.search-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
}

.search-container input[type="text"] {
  border: none;
  border-radius: 15px;
  background-color: rgb(195, 208, 212);
}

.search-container label {
  display: flex;
  align-items: center;
}

.user-data {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  gap: clamp(8px, 1vw, 15px);
}

.user-data img:nth-last-child(2) {
  width: 3.5rem;
}

.user-data span {
  font-weight: 600;
}

.lower-header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.profile-section {
  display: flex;
  align-items: center;
}

.create {}

.projects {}

.project-card {}

.card-text {}

.card-icons {}

.announcements {}

.announcement-block {}

.announcement-header {}

.announcement-content {}

.trending {}

.trending-accs {}

.trending-accs-desc {}

img {
  width: 1.2rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}